-
    var tours = [
        {
            id: 1,
            name: 'The Forest Hiker',
            difficulty: 'Easy 5-day tour',
            description: 'Breathtaking hike through the Canadian Banff National Park',
            location: 'Banff, Canada',
            date: 'April 2021',
            stops: '3 stops',
            people: '25 people',
            price: '$297',
            rating: '4.9',
            reviews: '21',
            link: '#'
        },
        {
            id: 2,
            name: 'The Sea Explorer',
            difficulty: 'Medium-difficult 7-day tour',
            description: 'Exploring the jaw-dropping US east coast by foot and by boat',
            location: 'Oregon, US',
            date: 'June 2021',
            stops: '4 stops',
            people: '15 people',
            price: '$497',
            rating: '4.8',
            reviews: '12',
            link: '#'
        },
        {
            id: 3,
            name: 'The Snow Adventurer',
            difficulty: 'Difficult 3-day tour',
            description: 'Exciting adventure in the snow with snowboarding and skiing',
            location: 'Aspen, USA',
            date: 'January 2022',
            stops: '2 stops',
            people: '10 people',
            price: '$697',
            rating: '4.9',
            reviews: '7',
            link: '#'
        },
        {
            id: 4,
            name: 'The City Wanderer',
            difficulty: 'Easy 7-day tour',
            description: 'Living the life of Wanderlust in the US\' most beatiful cities',
            location: 'NYC, USA',
            date: 'March 2021',
            stops: '3 stops',
            people: '20 people',
            price: '$997',
            rating: '4.8',
            reviews: '31',
            link: '#'
        },
        {
            id: 5,
            name: 'The Park Camper',
            difficulty: 'Medium-Difficult 10-day tour',
            description: 'Breathing in Nature in America\'s most spectacular National Parks',
            location: 'Las Vegas, USA',
            date: 'August 2021',
            stops: '4 stops',
            people: '15 people',
            price: '$1,497',
            rating: '4.9',
            reviews: '19',
            link: '/tour.html'
        },
        {
            id: 6,
            name: 'The Sports Lover',
            difficulty: 'Difficult 14-day tour',
            description: 'Surfing, skating, parajumping, rock climbing and more, all in one tour',
            location: 'California, USA',
            date: 'July 2021',
            stops: '5 stops',
            people: '8 people',
            price: '$1,997',
            rating: '4.7',
            reviews: '23',
            link: '#'
        }
    ];
